<footer>
    <!--<div class="footer1 row">-->
    <!--    <ul>-->
    <!--        <li><i class="fab fa-github"></i></li>-->
    <!--        <li><i class="fab fa-facebook"></i></li>-->
    <!--        <li><i class="fab fa-twitter"></i></li>-->
    <!--        <li><i class="fab fa-google-plus"></i></li>-->
    <!--        <li><i class="fab fa-linkedin-in"></i></li>-->
    <!--    </ul> -->
    </div>
    <div class="footer">
        <p>© 2018 Copyright: YelpCamp | Developed By: Milek Agrawal</p>
    </div>
</footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>